@import "../dist/webkit-sassui-divider-items.scss";
* {
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 14px;
}
.f18 {
  font-size: 18px;
}
.f12 {
  font-size: 12px;
}
.mt5 {
  margin-top: 5px;
}
.c-9 {
  color: #999;
}

.test-webkit-sassui-divider-items {
  // border: 1px solid red;
  padding: 20px;
}
