/*webkit-sassui-divider-items Start*/
.webkit-sassui-divider-items {
  display: flex;
}

.webkit-sassui-divider-items > .item {
  flex: 1;
}

.webkit-sassui-divider-items > .item + .item {
  border-left: 0.55px solid rgba(204, 204, 204, 0.8);
}

/*webkit-sassui-divider-items End*/
* {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 14px;
}

.tc {
  text-align: center;
}

.f18 {
  font-size: 18px;
}

.f12 {
  font-size: 12px;
}

.mt5 {
  margin-top: 5px;
}

.c-9 {
  color: #999;
}

.test-webkit-sassui-divider-items {
  padding: 20px;
}
